.full-teacher__teaching-load-table {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.full-teacher__teaching-load-table td,
.full-teacher__teaching-load-table th {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

.full-teacher__teaching-load-table td:last-of-type,
.full-teacher__teaching-load-table th:last-of-type {
  border-right: 1px solid #ddd;
}

.full-teacher__teaching-load-table tbody tr:hover {
  background-color: #f3f3f3;
}

.full-teacher__teaching-load-table tbody tr td:hover span {
  display: inline-block !important;
}

.full-teacher__container {
  display: flex;
  min-height: calc(100vh - 180px);
}

.full-teacher__general-info {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  border-right: 1px solid #f0f0f0;
}

.full-teacher__tabs {
  width: 100%;
  padding: 0 16px;
  overflow-y: auto;
}

.full-teacher__avatar-wrapper {
  position: relative;
}
.full-teacher__avatar-wrapper:hover .full-teacher__avatar-overlay {
  background-color: rgba(204, 204, 204, 0.4);
}
.full-teacher__avatar-wrapper:hover .full-teacher__avatar-edit {
  display: block;
}

.full-teacher__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.full-teacher__avatar-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
  background-color: rgba(204, 204, 204, 0.6);
  color: #262626;
  display: none;
}
.full-teacher__avatar-edit svg {
  width: 22px;
  height: 22px;
}

/*  */

.teacher-report-textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.instructional-materials__actions {
  gap: 12px;
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
}

.instructional-materials__filter {
  gap: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.instructional-materials__buttons {
  gap: 12px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .full-teacher__container {
    flex-direction: column;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 320px 1fr;
    grid-template-areas:
      'g t'
      'n t';
  }

  .full-teacher__general-info {
    max-width: 250px;
    margin: 0 auto;
    border: 0 !important;
    border-bottom: 1px solid rgb(240, 240, 240);
    grid-area: g;
  }

  .full-teacher__tabs {
    grid-area: t;
    padding: 30px 16px 0 !important;
    border-top: 1px solid rgb(240, 240, 240);
  }

  .full-teacher__navigation {
    border-left: 1px solid rgb(240, 240, 240);
    grid-area: n;
    display: flex;
    justify-content: center;
  }

  .full-teacher__navigation-inner {
    border: 0;
  }
}

@media (max-width: 1024px) {
  .full-teacher__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 1fr;
    grid-template-areas:
      'g n'
      't t';
  }
}

@media (max-width: 640px) {
  .full-teacher__container {
    grid-template-columns: 1fr;
    grid-template-rows: 320px 360px auto;
    grid-template-areas:
      'g'
      'n'
      't';
  }

  .full-teacher__tabs table * {
    font-size: 12px !important;
    line-height: 1.3;
  }

  .full-teacher__tabs table th,
  .full-teacher__tabs table td {
    padding: 4px;
    height: 35px;
  }
}

@media (max-width: 540px) {
  .full-teacher__tabs table * {
    font-size: 10px !important;
  }
  .full-teacher__tabs table th,
  .full-teacher__tabs table td {
    padding: 2px;
    height: 30px;
  }
  .instructional-materials__buttons {
    flex-direction: column;
  }
}

/* EDITOR */

#editorjs .ce-toolbar__content {
  max-width: 85%;
}

#editorjs .ce-block__content {
  max-width: 84%;
}

#editorjs .codex-editor__redactor {
  padding-bottom: 40px !important;
}
