.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-left {
  margin-left: 26px;
}

.header-right {
  margin-right: 4px;
}

.body {
  display: flex;
}

.time-number {
  width: 24px;
  text-align: center;
}

.day {
  width: calc(100% / 7);
}

.day-name {
  padding: 0 4px;
  border-radius: 4px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.lessons-numbers {
  margin-top: 2px;
}

.empty-cell {
  height: 22px;
}

.time-number {
  height: 80px;
  margin: 2px 0;
  padding: 2px 0;
  /* box-shadow: 0px 0px 5px rgb(204, 204, 204); */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.time-slot {
  height: 80px;
  margin: 2px;
  padding: 2px 4px;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px rgb(204, 204, 204); */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
