.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-left {
  margin-left: 26px;
}

.header-right {
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.body {
  display: flex;
}

.time-number {
  width: 24px;
  text-align: center;
}

.day {
  width: calc(100% / 7);
}

.day-name {
  padding: 0 4px;
  border-radius: 4px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.lessons-numbers {
  margin-top: 2px;
}

.empty-cell {
  height: 22px;
}

.time-number {
  height: 86.4px;
  margin: 2px 0;
  padding: 2px 0;
  /* box-shadow: 0px 0px 5px rgb(204, 204, 204); */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.lesson-1 {
  position: relative;
  overflow: hidden;
  font-size: 11px;
  height: 86px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.lesson-2,
.lesson-3,
.lesson-4 {
  overflow: hidden;
  position: relative;
  font-size: 10px;
  line-height: 1;
  padding: 2px 4px;
}

.lesson-2 + div,
.lesson-3 + div,
.lesson-4 + div {
  border-top: 2px solid rgb(93, 93, 93);
}

.lesson-2 {
  height: 43px;
}
.lesson-3 {
  height: 28.6px;
}
.lesson-4 {
  height: 21.5px;
}

.lesson-1.selected::after,
.lesson-2.selected::after,
.lesson-3.selected::after,
.lesson-4.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(0, 0, 0, 1);
}

.time-slot {
  position: relative;
  overflow: hidden;
  font-size: 11px;
  height: 86px;
  margin: 2px;
  /* padding: 2px 4px; */
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.time-slot p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.time-slot-lesson-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lesson-slot {
  position: relative;
  overflow: hidden;
  height: 92px;
  margin: 2px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 1px -1px, rgba(0, 0, 0, 0.1) 1px 1px 2px 1px,
    rgba(0, 0, 0, 0.22) 0px 1px 3px 0px;
}

.lesson-slot .time-slot-lesson-name {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.lesson-slot p {
  margin: 0;
}

.time-slot.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(0, 0, 0, 1);
}

/* SelectAuditoryModal.tsx */
.auditory-modal-wrapper {
  display: flex;
  justify-content: space-between;
}
.auditory-modal__categories,
.auditory-modal__list {
  width: 50%;
  max-height: 70vh;
  min-height: 40vh;
  overflow-y: auto;
}

/* // SelectAuditoryModal.tsx */

@media (max-width: 1024px) {
  .timatable-header-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
