:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  padding-right: 0 !important;
}

header {
  padding-right: 0 !important;
}

* {
  /* scrollbar from moz */
  font-family: Inter, "Public Sans", sans-serif;
  scrollbar-color: var("secondary.main") #f4f4f4;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background-color: #d9d9d9;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var("secondary.main");
  /* border-radius: 3px; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.rbc-timeslot-group {
  /* min-height: 80px !important; */
  min-height: 60px !important;
}

.rbc-events-container {
  margin-right: 0 !important;
}
